body	{
	margin: 0;
	padding: 0;
}

.top-nav	{
	background-color: #FFB4B0;
	border: 2px solid black;
}
		.top-nav li  {
			list-style-type: none;
			display: inline;
		}

		.top-nav li + li:before	{
			content: "| ";
			padding: .25em;
		}

.criteria	{
	background-color: #4DD7FA;
	border: 2px solid black;
	float:left;
	margin-right: 15px;
	margin-top: 15px;
	width:30%;

}

.selectors	{
	display: block;
}

.filter-button	{
text-align: center;
}

.genre-check1,
.genre-check2,
.genre-check3,
.genre-check4,
.genre-check5,
.genre-check6	{
	text-align: center;
	display: inline-flex;
}

.song-display	{
	background-color: #FEFAC0;
	border: 2px solid black;
	width: 100%;
	display:inline;
	margin-top: 15px;



}
		.song-display li  {
			list-style-type: none;
			display: inline;
		}

		.song-display li + li:before {
    content: "| ";
    padding: .5em;
  }

.container	{
	display: flex;
	width: 100%;
}

