body	{
	margin: 0 auto;
	padding: 0;
	width: 80%
}

.container	{
	display: flex;
	width: 100%;
}

.top-nav	{
	background-color: #FFB4B0;
	border: 2px solid black;
}
		.top-nav li  {
			list-style-type: none;
			display: inline;
		}

		.top-nav li + li:before	{
			content: "| ";
			padding: .25em;
		}

/*Selection critera, excluding checklist*/
.criteria	{
	background-color: #4DD7FA;
	border: 2px solid black;
	float:left;
	margin-right: 15px;
	margin-top: 15px;
	width:30%;
}

.criterion	{
	margin: .5em;
}

.selectors	{
	display: block;
}

.range{
	border: 5px solid black;
}

.select-box	{
	border: 1px solid black;
}



/*columns for checklist*/
.col1	{
	display: inline-block;
	float: left;
	margin: .125em;


}

.col2	{
	display: inline-block;
	float: left;
	margin: .125em;
}



}

.filter-button	{
text-align: center;

}

.filter  {
	text-align: center;

	clear: left;
	display: block;
	padding: 1em;
}
.song-display	{
	background-color: #FEFAC0;
	border: 2px solid black;
	width: 100%;
	display:inline;
	margin-top: 15px;



}
		.song-display li  {
			list-style-type: none;
			display: inline;
		}

		.song-display li + li:before {
    content: "| ";
    padding: .5em;
  }

.song-name	{
	margin-left: 2em;
}

